{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td><b>Branch Name:</b> </td> 
            <td>{{branchName}}</td>
        </tr>
        <hr>
        <tr>
            <td><b>Email:</td> 
            <td>{{email}}</td>
        </tr>
        <hr>
        <tr>
            <td><b>Name:</b></td> 
            <td>{{name}}</td>
        </tr>
        <hr>
        <tr>
            <td><b>Type:</b></td> 
            <td>{{type}}</td>
        </tr>
        <hr>
        <tr>
            <td><b>Number:</b> </td>
            <td>{{number}}</td>
        </tr>
        <hr>
        <tr>
            <td><b>Manufacturing Date:</b></td>
            <td>{{date}}</td>
            
        </tr>
        <hr>
        <tr>
            <td><b>Output Power:</b> </td>
            <td>{{capacity}}</td>
        </tr>
        <hr>
        <tr>
            <td><b>Pole:</b></td>
            <td>{{centerQuantity}}</td>
        </tr>
        <hr>
        <tr>
            <td><b>Component Selection1:</b></td> 
            <td>{{componentSelection}}</td>
            <td><b>Component Quantity:</b></td> 
            <td>{{componentQuantity}}</td>
        </tr>
        <tr>
            <td><b> Comments:</b></td> 
            <td>{{commentary}}</td>
        </tr>
    </table>
</body>
</html>