<h2 id="title">Submission</h2>

<p>Branch Name: {{branchName}}</p>
<p>Email: {{email}}</p>
<p>Name: {{name}}</p>

<p>Type: {{type}}</p>
<p>Serial Number: {{serialNumber}}</p>
<p>Item: {{item}}</p>
<p>Manufactoring Date: {{date}}</p>
<p>Capacity: {{capacity}}</p>
<p>Center Quantity: {{centerQuantity}}</p>

<hr>
<p>Component Selection: {{componentSelection}}</p>
<p>Component Quantity: {{componentQuantity}}</p>
<hr>
<p>Component Selection2: {{componentSelection1}}</p>
<p>Component Quantity: {{componentQuantity1}}</p>
<hr>
<p>Component Selection3: {{componentSelection2}}</p>
<p>Component Quantity: {{componentQuantity2}}</p>
<hr>
<p>Component Selection4: {{componentSelection3}}</p>
<p>Component Quantity: {{componentQuantity3}}</p>
<hr>
<p>Commentary: {{commentary}}</p> 

<style>
    .title{
        margin-bottom: 2px;
        text-align: center;
    }
</style>