{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>WEG Kit's Request</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

</head>

<body>
    <div>
        <img src="{% static '/images/weglogo.jpg' %}" width="3%">
        <h2> User Information</h2>
        <form action="." method="POST">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <th>Branch Name</th>   
                        <td>{{form.branchName}}</td>
                        <th>Email</th>
                        <td>{{form.email}}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{form.name}}</td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>    
            
        <h2>Engine Information</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Type</th>
                        <td>{{form.type}}</td>
                    </tr>
                    <tr>
                        <th>Serial Number</th>
                        <td>{{form.serialNumber}}</td>
                        <th>or Material Number</th>
                        <td>{{form.itemNumber}}</td>
                    </tr>
                    <tr>
                        <th>Manufactoring Date</th>
                        <td>{{form.date}}</td>
                        <th>Phase</th>
                        <td>{{form.phase}}</td>
                        <th>Capacity</th>
                        <td>{{form.capacity}}</td>
                        <th>Center Quantity</th>
                        <td>{{form.centerQuantity}}</td>
                    </tr>

                </tbody>
        </table>
    </div>
    <div id="component-form">
        <h2>Component</h2>
        <div class="parts-form">
            <table id="component">
                <tbody>
                    <tr>
                        <th>Select the Component</th>
                        <td>{{form.componentSelection}}</td>
                        <th>Component Quantity</th>
                        <td>{{form.componentQuantity}}</td>
                        <td><button id="add-more" type="button">Add more components</button></td>
                    </tr>
                </tbody>
                <div id="form-added"></div>
            </table>
            <table id="extraField" style="visibility: collapse">
                <hr>
                <tbody>
                    <tr>
                        <th>Select the Component</th>
                        <td>{{form.componentSelection1}}</td>
                        <th>Component Quantity</th>
                        <td>{{form.componentQuantity1}}</td>
                    </tr>

                    <tr>
                        <th>Select the Component</th>
                        <td>{{form.componentSelection2}}</td>
                        <th>Component Quantity</th>
                        <td>{{form.componentQuantity2}}</td>
                    </tr>

                    <tr>
                        <th>Select the Component</th>
                        <td>{{form.componentSelection3}}</td>
                        <th>Component Quantity</th>
                        <td>{{form.componentQuantity3}}</td>
                    </tr>

                    <tr>
                        <th>Select the Component</th>
                        <td>{{form.componentSelection4}}</td>
                        <th>Component Quantity</th>
                        <td>{{form.componentQuantity4}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <table id="commentary">
            <tbody>
                <tr>
                    <th>Commentary</th>
                    <td>{{form.commentary}}</td>
                </tr>
            </tbody>
        </table>
        <input type="submit" id="button" value="Submit">
        </form>
    
    </div>

    <script>
        const AddMoreBtn = document.getElementById('add-more')
        AddMoreBtn.onclick = function(){
            if (document.getElementById('extraField').style.visibility == 'collapse'){
                document.getElementById('extraField').style.visibility='visible';
                alert('Extra fields are not required to be filled')             
            } else{
                document.getElementById('extraField').style.visibility='collapse';
            }
        }

        // ISSO É O OUTRO MODO PARA INCREMENTAR CAMPO, MAS NÃO CONSEGUI PEGAR OS DADOS E INSERIR NO EMAIL
        // const AddMoreBtn = document.getElementById('add-more')
        // AddMoreBtn.addEventListener('click', add_new_form)
        // function add_new_form(event) {
        //     if (event) {
        //         event.preventDefault()
        //     }
        //     //id
        //     const newId = document.getElementsByClassName('parts-form')
        //     const idIncrement = newId.length + 1
        //     //
        //     const formAdd = document.getElementById('form-added')
        //     //add new empty form
        //     var componentForm = document.getElementById('component').cloneNode(true)
        //     componentForm.setAttribute('class', 'parts-form')
        //     //id increment
        //     componentForm.setAttribute('id', `component-${idIncrement}`)
        //     formAdd.append(componentForm)
        //     https://stackoverflow.com/questions/6242976/javascript-hide-show-element
        //     estudar
    </script>

</body>

</html>
